body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
      background-image: url('../img/Fondo.contacto.jpg');
     background-size: cover;
    background-position: center;
    color: #343a40;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh; /* Establece la altura al 100% de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

.logo {
    width: 250px;
    margin-bottom: 30px;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 40px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 30px auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #343a40;
}

.intro-text{
    color: #fff;
}