/* home.css */

.clubs-section {
    margin-bottom: 5rem;
}

.artist-card {
    background-color: #25274d;
    color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #6a0572;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.relative {
    position: relative;
}

.w-full {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.object-cover {
    object-fit: cover;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-muted {
    background-color: #f5f5f5;
}

.bg-black\/50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: #ffffff;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.font-bold {
    font-weight: 700;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.inline-flex {
    display: inline-flex;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-\[\#ff6b6b\] {
    background-color: #6a0572;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover\:bg-\[\#ff4d4d\]:hover {
    background-color: #8e44ad;
}

.focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus-visible\:ring-2:focus-visible {
    box-shadow: 0 0 0 2px rgba(106, 5, 114, 0.5);
}

.focus-visible\:ring-\[\#ff6b6b\]:focus-visible {
    box-shadow: 0 0 0 2px rgba(106, 5, 114, 0.5);
}

.focus-visible\:ring-offset-2:focus-visible {
    outline-offset: 2px;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sm\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-gray-800 {
    color: #2d3748;
}

.mb-12 {
    margin-bottom: 3rem;
}

.grid {
    display: grid;
}

.gap-6 {
    grid-gap: 1.5rem;
}

.md\:gap-8 {
    grid-gap: 2rem;
}

.sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.aspect-w-1 {
    aspect-ratio: 1 / 1;
}

.aspect-h-1 {
    aspect-ratio: 1 / 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.object-cover {
    object-fit: cover;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-black\/70 {
    background-color: rgba(0, 0, 0, 0.7);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
    padding-top: 50px;
}

.text-white {
    color: #ffffff;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.opacity-75 {
    opacity: 0.75;
}

.bg-white {
    background-color: #ffffff;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.border {
    border-width: 1px;
}

.p-6 {
    padding: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-gray-700 {
    color: #4a5568;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-gray-500 {
    color: #a0aec0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.relative {
    position: relative;
}

.w-full {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.object-cover {
    object-fit: cover;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-muted {
    background-color: #f5f5f5;
}

.bg-black\/50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: #ffffff;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.font-bold {
    font-weight: 700;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.inline-flex {
    display: inline-flex;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-\[\#ff6b6b\] {
    background-color: #6a0572;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover\:bg-\[\#ff4d4d\]:hover {
    background-color: #8e44ad;
}

.focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus-visible\:ring-2:focus-visible {
    box-shadow: 0 0 0 2px rgba(106, 5, 114, 0.5);
}

.focus-visible\:ring-\[\#ff6b6b\]:focus-visible {
    box-shadow: 0 0 0 2px rgba(106, 5, 114, 0.5);
}

.focus-visible\:ring-offset-2:focus-visible {
    outline-offset: 2px;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sm\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-gray-800 {
    color: #2d3748;
}

.mb-12 {
    margin-bottom: 3rem;
}

.grid {
    display: grid;
}

.gap-6 {
    grid-gap: 1.5rem;
}

.md\:gap-8 {
    grid-gap: 2rem;
}

.sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.aspect-w-1 {
    aspect-ratio: 1 / 1;
}

.aspect-h-1 {
    aspect-ratio: 1 / 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.object-cover {
    object-fit: cover;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-black\/70 {
    background-color: rgba(0, 0, 0, 0.7);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: #ffffff;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.opacity-75 {
    opacity: 0.75;
}

.bg-white {
    background-color: #ffffff;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.border {
    border-width: 1px;
}

.p-6 {
    padding: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-gray-700 {
    color: #4a5568;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-gray-500 {
    color: #a0aec0;
}
