table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
}

#logo {
    width: 300px; /* Aumentar tamaño del logo */
    display: block;
    margin: 0 auto;
}

#thanks {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#ticket-number {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
}
