body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #1a1a2e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #dd09ed;
}

/* Botones */
button, .btn {
    background-color: #6a0572;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover, .btn:hover {
    background-color: #8e44ad;
}

/* Tarjetas */
.card {
    background-color: #25274d;
    color: #ffffff;
    border: 1px solid #6a0572;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    color: #dcdde1;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .p-6 {
    padding: 1.5rem;
}

/* Formulario de Contacto */
.contact-form {
    background-color: #25274d;
    color: #ffffff;
    padding: 40px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 30px auto;
}

.contact-form input, .contact-form textarea {
    background-color: #464866;
    border: 1px solid #6a0572;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button[type="submit"] {
    background-color: #6a0572;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.contact-form button[type="submit"]:hover {
    background-color: #8e44ad;
}

/* Navbar */
.navbar {
    background-color: #25274d;
    color: #ffffff;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #6a0572;
}

/* Pie de Página */
.footer {
    background-color: #25274d;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #8e44ad;
}

.bg-dark {
    background-color: #25274d !important;
}

.table {
    color: #ffffff;
}

#w0 > table > tbody > tr > td > a {
    color: #dd09ed;
}

#w0 > table > thead > tr > th > a{
    color: #dd09ed;
}

#w0 > ul{
    color: #dd09ed;
}

#w0 > ul > li.active > a {
    color: #dd09ed;
}

#w0 > ul > li > a {
    color: #dd09ed;
} 

#w0 > ul > li.next > a {
     color: #dd09ed;
}